version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.development
    ports:
      - "3000:3000"
    volumes:
      - .:/rails
      - storage:/rails/storage
    environment:
      - RAILS_MASTER_KEY=0e85f9c43cceee33f6366d3b20638521
volumes:
  storage:
