<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested to change your password. Here is your reset token:</p>

<p><strong><%= @token %></strong></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you use this token to create a new one.</p>
